
.img-cover{
    width: 90px;
    height: auto;
    border-radius: 0.5em;
}

.img-cover-show{
    width: 120px;
    height: auto;
    border-radius: 0.3em;
}

.input-shadow {
    box-shadow: 1px 2px 0px #d4d4d4;
}

.btn-star,.btn-delete{
    cursor:pointer;
}

.btn-star:hover,.btn-delete:hover{
    color: #363c66;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #363c66 !important;
    border-color: #363c66 !important;
}

.footer {
    text-align: center;
    background-color: #f8f9fa;
    width: 100%;
}


.ui-datepicker {
    width: 17.5em !important;
}

span.error{
    color: #ff0000d1;
    font-size: 0.8em;
}

input.error, select.error{
    border: 1px solid #ff0000d1;
}

span.erro{
    color: #ff0000d1;
}